body {
  background-color: lightblue;
}

h2 {
  color: #1d401a;
  text-align: center;
  font-size:100px;
}

p {
  font-family: verdana;
  font-size: 25px;
}

p.one {
  border-style: dotted;
  border-color: hotpink;
  border-width: 10px;
}

p.two {border-style: solid;
  border-color: darkgreen hotpink lime darkblue;
  border-width: 10px;
}
	